## 1. Import Library

In [1]:
import pandas as pd
import numpy as np

## 2. Read Postal Codes from wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(link)
Toronto_FSA = tables[0].iloc[1:]
Toronto_FSA.columns = ['Postcode','Borough','Neighbourhood']
Toronto_FSA.head()

  Postcode           Borough     Neighbourhood
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park

In [3]:
Toronto_FSA.shape

(287, 3)

## 3. Data Wrangling

#### Ignore cells with a borough that is Not assigned.

In [4]:
TF = Toronto_FSA.drop(Toronto_FSA.loc[Toronto_FSA['Borough']== 'Not assigned'].index)

In [15]:
TF.head()

  Postcode           Borough                    Neighbourhood
2      M3A        North York                        Parkwoods
3      M4A        North York                 Victoria Village
4      M5A  Downtown Toronto         Harbourfront,Regent Park
5      M5A  Downtown Toronto         Harbourfront,Regent Park
6      M6A        North York  Lawrence Heights,Lawrence Manor

#### Combine rows with same Postcode

In [23]:
TF['Neighbourhood'] = TF[['Postcode','Borough','Neighbourhood']].groupby(['Postcode'])['Neighbourhood'].transform(lambda x: ', '.join(x))

In [24]:
TF1 = TF[['Postcode','Borough','Neighbourhood']].drop_duplicates()

In [25]:
for i in range(0, TF1.shape[0]):
    if TF1.iloc[i, 2] == 'Not assigned':
        TF1.iloc[i, 2] = TF1.iloc[i, 1]

In [26]:
TF1

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Harbourfront,Regent Park, Harbourfront,Regent ..."
6,M6A,North York,"Lawrence Heights,Lawrence Manor, Lawrence Heig..."
8,M7A,Queen's Park,Queen's Park
...,...,...,...
255,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North, T..."
262,M4Y,Downtown Toronto,Church and Wellesley
265,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
266,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
282,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

In [27]:
TF1.shape

(103, 3)