## 1. Import Library

In [1]:
import pandas as pd
import numpy as np

## 2. Read Postal Codes from wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(link)
Toronto_FSA = tables[0].iloc[1:]
Toronto_FSA.columns = ['Postcode','Borough','Neighbourhood']
Toronto_FSA.head()

  Postcode           Borough     Neighbourhood
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park

In [3]:
Toronto_FSA.shape

(287, 3)

## 3. Data Wrangling

#### Ignore cells with a borough that is Not assigned.

In [4]:
TF = Toronto_FSA.drop(Toronto_FSA.loc[Toronto_FSA['Borough']== 'Not assigned'].index)

In [5]:
TF.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

#### Combine rows with same Postcode

In [6]:
TF['Neighbourhood'] = TF[['Postcode','Borough','Neighbourhood']].groupby(['Postcode'])['Neighbourhood'].transform(lambda x: ', '.join(x))

In [7]:
TF1 = TF[['Postcode','Borough','Neighbourhood']].drop_duplicates()

In [8]:
for i in range(0, TF1.shape[0]):
    if TF1.iloc[i, 2] == 'Not assigned':
        TF1.iloc[i, 2] = TF1.iloc[i, 1]

In [9]:
TF1

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Harbourfront, Regent Park"
6,M6A,North York,"Lawrence Heights, Lawrence Manor"
8,M7A,Queen's Park,Queen's Park
...,...,...,...
255,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
262,M4Y,Downtown Toronto,Church and Wellesley
265,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
266,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
282,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [10]:
TF1.shape

(103, 3)

## 3. Read Postal Code Longtitude and Latitude file

In [11]:
Plonglat = pd.read_csv('https://cocl.us/Geospatial_data')
Plonglat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Matching Postcode with corresponding Latitude and Longitude

In [12]:
Plonglat.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
TF2 = TF1.merge(Plonglat, on='Postcode', how='outer').fillna('')
TF2.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724